.input-wrapper {
    margin-bottom: 10px;
}
  
.label {
    display: block;
    color: #c0ccd4;
    font-size: 16px;
    font-weight: 300;
}

.select {
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin : 10px;
    font-size: 16px;
}