.btn {
  display: flex;
  height: 50px;
  width: 100px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 0;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  font-size: 20px;
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
}

.btn-add {
  background-color: #c0ccd4;
  color:  #484d5c;
}

.btn-add:focus {
  background-color:#788186;
}

.btn-delete {
  margin-right: 2%;
  background-color: #d35d5d;
  color: #c0ccd4;
}

.btn-delete:focus {
  background-color: #a02f2f;
}

.btn-edit {
  margin-right: 2%;
  background-color:  #ffce00;
  color: #484d5c;
}

.btn-edit:focus {
  background-color:#a7870b;
}

.btn-check{
  border: 1px solid #ffce00;
  background-color: #484d5c;
  color: #ffce00;
}

@media (min-width: 1024px){
  .icon {
    height: 40px;
    width: 40px;
  }
}

  