.input-wrapper {
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  font-weight: 300;
  color: #c0ccd4;
  display: block;
}

.label-error {
  color: #d35d5d;
}
  
.input {
  display: block;
  margin : 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}



  