.input-aside {
    width: 96%;
    margin: 0 auto;
    justify-content: center;
    text-align: left;
}

@media (min-width: 768px){
    .input-aside {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 2%;
        justify-content: space-between;
        align-items: left;
    }
}

