.todo-side {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
  }
  
  .todo {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid blue;
  }
  
  .todo:last-of-type {
    margin-bottom: 0;
  }

  .todo h3 {
    font-size : 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  .todo p {
      font-size : 12px;
      font-weight: 300;
      margin-bottom: 10px;
  }
  
  .medium-priority {
    border: 1px solid yellow;
  }
  
  .high-priority {
    border: 1px solid red;
  }