.todo-aside {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
    text-align: left;
}

.todo {
    padding: 7px;
    border-radius: 15px;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.todo-prior-medium {
    border: 1px solid yellow;
}

.todo-prior-high {
    border: 1px solid red;
}

.todo-done {
    text-decoration: line-through;
}
  
.todo:last-of-type {
    margin-bottom: 0;
}

.todo-list-section {
    width: 100%;
    text-align: justify;
}

.delete-edit-btn-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.todo h3 {
    margin: 10px 0 10px 0;
    font-size : 16px;
    font-weight: 500;
}

.todo p {
    margin-bottom: 10px;
    font-size : 16px;
    font-weight: 300;
}

.todo-input-form {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px){
    .todo {
        display: flex;
        justify-content: space-between;
    }

    .todo-aside {
        width: 60%;
        margin: 2%;
    }

    .todo-list-section {
        width: 55%;
        text-align: justify;
    }

    .delete-edit-btn-section {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
}

@media (min-width: 1024px){
    .todo-list-section {
        width: 60%;
        text-align: justify;
    }

    .delete-edit-btn-section {
        display: flex;
        justify-content: flex-end;
    }
}