.todo-aside {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 96%;
    margin: 0 auto;
}

.todo {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid blue;
}

.todo-prior-medium {
    border-color: yellow;
}

.todo-prior-high {
    border-color: red;
}

.todo-done {
    text-decoration: line-through;
}
  
.todo:last-of-type {
    margin-bottom: 0;
}

.todo-list-section {
    text-align: justify;
    width: 100%;

}

.delete-edit-btn-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.todo h3 {
    font-size : 16px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.todo p {
    font-size : 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.todo-checkbox {
    align-items: start;
    width: 25px;
    height: 25px;
}

.todo-input-form {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px){
    .todo {
        display: flex;
        justify-content: space-between;
    }

    .todo-aside {
        width: 60%;
        margin: 2%;
    }

    .todo-list-section {
        width: 55%;
        text-align: justify;
    }

    .delete-edit-btn-section {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1024px){
    .todo-list-section {
        width: 60%;
        text-align: justify;
    }

    .delete-edit-btn-section {
        display: flex;
        justify-content: center;
    }
}